//
// Icons
//

.icon {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;

  &.icon-close {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.6129 3.2097C4.22061 2.90468 3.65338 2.93241 3.29289 3.29289C2.90237 3.68342 2.90237 4.31658 3.29289 4.70711L10.5858 12L3.29289 19.2929L3.2097 19.3871C2.90468 19.7794 2.93241 20.3466 3.29289 20.7071C3.68342 21.0976 4.31658 21.0976 4.70711 20.7071L12 13.4142L19.2929 20.7071L19.3871 20.7903C19.7794 21.0953 20.3466 21.0676 20.7071 20.7071C21.0976 20.3166 21.0976 19.6834 20.7071 19.2929L13.4142 12L20.7071 4.70711L20.7903 4.6129C21.0953 4.22061 21.0676 3.65338 20.7071 3.29289C20.3166 2.90237 19.6834 2.90237 19.2929 3.29289L12 10.5858L4.70711 3.29289L4.6129 3.2097Z' fill='white'/%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
  }

  &.icon-search {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 8C5 3.58172 8.58172 0 13 0C17.4183 0 21 3.58172 21 8C21 12.4183 17.4183 16 13 16C11.1513 16 9.44904 15.3729 8.09436 14.3199L1.70711 20.7071C1.31658 21.0976 0.683418 21.0976 0.292893 20.7071C-0.0675907 20.3466 -0.0953203 19.7794 0.209705 19.3871L0.292893 19.2929L6.68014 12.9056C5.62708 11.551 5 9.84871 5 8ZM14 2.08296C16.5125 2.50448 18.4955 4.4875 18.917 7H14V2.08296ZM12 8V2.08296C9.16229 2.55904 7 5.027 7 8C7 11.3137 9.68629 14 13 14C15.973 14 18.441 11.8377 18.917 9H13C12.4872 9 12.0645 8.61396 12.0067 8.11662L12 8Z' fill='white'/%3E%3C/svg%3E");
    width: 21px;
    height: 21px;
  }

}