//
// Type
//

.text-primary {
  color: $primary;
}

.text-dark {
  color: $text-dark;
}

.text-white {
  color: $text-white;
}

.text-grey {
  color: $text-grey;
}

a {
  display: inline-block;
}

.bold {
  font-weight: bold;
}