// Colors
$black: #001F26;
$cyan: #CEF6F0;
$blue: #71B2C9;
$green: #00D1B6;
$white: #FFFFFF;

$grey-1: #F9F9F9;
$grey-2: #767676;
$grey-3: #E6EAEB;

$green-2: #00A792;


// primary
$primary: $green;
$primary-2: $green-2;
$danger: #D34343;
$info: #006A8E;

$dark: #001F26;
$dark-2: #003D4C;
$light: $grey-1;
$light-2: #DFDFDF;


// outline
$border-color: #DDE1E6;

// element
$label-color: #DDE1E6;
$text-dark: $dark;
$text-white: $white;
$text-grey: $grey-2;

// Fonts
$font-family-primary: 'Open Sans';